# This directory contains both the original and reconstructed scores
# and should be excluded for obvious copyright reasons
scores/

# Temporary stuff etc
tmp/
playground/

# Python environment and 
env

# Other stuff
.ipynb_checkpoints/
__pycache__
.vscode
.mscbackup/
.DS_Store